@tailwind base;
@tailwind components;
@tailwind utilities;

.app{
    @apply h-screen flex w-screen overflow-x-hidden
}
.sidebar-section{
    @apply h-screen py-8 px-4 text-center overflow-y-auto bg-green-100 border-r border-green-300 w-64 max-w-[calc(100vw-4rem)] translate-x-16 transition absolute z-40 dark:bg-zinc-800 dark:border-zinc-700 shadow text-green-900 dark:text-green-50
}
.submenu{
    @apply sm:scale-x-100 flex flex-col items-center w-16 h-screen py-8 space-y-8 border-r border-green-400 dark:border-zinc-700 bg-green-200 dark:bg-zinc-800 transition duration-100 origin-left z-50
}
.submenu-icon{
    @apply p-1.5 text-green-600 focus:outline-none transition-colors duration-200 rounded-lg dark:text-green-50 dark:hover:bg-zinc-700 hover:bg-green-300
}
.submenu-toggle{
    @apply block sm:hidden absolute bg-green-200 dark:bg-zinc-800 pl-4 pr-1.5 py-5 mt-3 h-fit rounded-r transition z-50
}
.container{
    @apply rounded shadow-md bg-white dark:bg-zinc-800 w-11/12 sm:w-10/12 py-6 px-8 max-h-[90%] overflow-auto  scrollbar-thin scrollbar-thumb-green-400 dark:scrollbar-thumb-zinc-600
}
.container-title{
    @apply text-xl sm:text-2xl md:text-3xl text-center
}
.btn{
    @apply p-2 text-white border-2 rounded shadow transition
}
.btn-blue{
    @apply dark:text-blue-500 bg-blue-500 border border-blue-500 hover:text-blue-500 dark:hover:bg-blue-500  dark:bg-opacity-10 hover:bg-opacity-5 dark:hover:text-white 
}
.btn-teal{
    @apply dark:text-teal-400 bg-teal-400 border border-teal-400 hover:text-teal-400 dark:hover:bg-teal-400  dark:bg-opacity-10 hover:bg-opacity-5 dark:hover:text-white 
}
.btn-yellow{
    @apply dark:text-yellow-500 bg-yellow-500 border border-yellow-500 hover:text-yellow-500 dark:hover:bg-yellow-500  dark:bg-opacity-10 hover:bg-opacity-5 dark:hover:text-white 
}
.btn-green{
    @apply dark:text-green-500 bg-green-500 border border-green-500 hover:text-green-500 dark:hover:bg-green-500  dark:bg-opacity-10 hover:bg-opacity-5 dark:hover:text-white 
}
.btn-red{
    @apply dark:text-red-500 bg-red-500 border border-red-500 hover:text-red-500 dark:hover:bg-red-500  dark:bg-opacity-10 hover:bg-opacity-5 dark:hover:text-white 
}

.sidebar-input{
    @apply mt-3 pl-9 p-2 text-slate-800 dark:text-white rounded shadow border dark:bg-zinc-700 border-green-300 dark:border-green-50 placeholder:text-slate-600 dark:placeholder:text-zinc-400 text-sm focus:outline-none focus:bg-green-50 dark:focus:bg-zinc-600 max-w-full transition text-center
}
.form-input{
    @apply mt-3 py-1.5 px-4 bg-green-50 dark:bg-zinc-700 border-b rounded-t border-green-500 dark:border-zinc-400 text-green-900 dark:text-green-50 placeholder:text-green-600 dark:placeholder:text-zinc-400 focus:outline-none focus:bg-opacity-40 dark:focus:bg-opacity-40 hover:bg-opacity-40 dark:hover:bg-opacity-40 transition shadow text-center
}
.styled-scrollbar{
    @apply scrollbar-thin scrollbar-thumb-green-400 dark:scrollbar-thumb-zinc-700
}